html {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header,
.footer {
    background-color: #1F2937;
    display: flex;    
    align-items: center;
    padding: 24px 80px 80px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 800;
}

.header {
    justify-content: space-between;
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1em;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.top-container {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 0 80px 80px;
    gap: 100px;
}

.top-container h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

.top-container p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.top-container .top-container-right-side img {
    max-width: 700px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: .5em 1em;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 800;
}

.top-container-left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.image-squares {
    display: flex;
    /* max-width: 1000px; */
    gap: 35px;
    flex-wrap: wrap;
}

.information-container h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 0 0 20px 0;
    padding: 0;
}

.image-squares div img {
    width: 175px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.image-squares p {
    color: #1f2937;
    margin: 0;
    padding: 0;
    max-width: 175px;
    text-align: center;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px 300px;
    color: #1F2937;
}

.quote-container .quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    align-self: center;
}

.quote-container .quote-attribution {
    font-weight: 800;
    align-self: flex-end;
}

.bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.bottom-container .call-to-action {
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 100px;
    gap: 50px;
}

.bottom-container .call-to-action h3
{
    margin: 0 0 10px 0;
    padding: 0;
    color: #E5E7EB;
    font-weight: 800;
    font-size: 40px;
}

.bottom-container .call-to-action p {
    margin: 0;
    padding: 0;
    color: #E5E7EB;
}

.bottom-container .call-to-action button {
    font-weight: 800;
    font-size: 30px;
    padding: 10px 30px;
}
