html {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header,
.footer {
    background-color: #1F2937;
    display: flex;    
    align-items: center;
    padding: 1em 5em;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 800;
}

.header {
    justify-content: space-between;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1em;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.header {
    font-size: 24px;
    color: #f9faf8;
}